{% extends "base_auth.html" %}
{% load static %}

{% block title %}Create account - Pawfect Match{% endblock %}

{% block content_class %}form-page{% endblock %}

{% block back_button %}
<a href="{% url 'home' %}" class="back-button" aria-label="Back to home">
  <i class="fa-solid fa-arrow-left"></i>
</a>
{% endblock %}

{% block content %}
<!-- Registration page content -->
<div class="form-page-container form-with-image">
  <article class="auth-card">
    <h2 class="visually-hidden">Create account card</h2>
    <div class="auth-card-split d-flex flex-column flex-md-row">
      <section class="auth-card-form d-flex flex-column justify-content-center align-items-center text-center">
        <!-- Registration heading -->
        <h2>Create account</h2>
        <p>Welcome! Create your Pawfect Match account to connect with fellow dog 
          lovers and start your journey. Registration is quick and easy!</p>

        <!-- Registration form -->
        <form method="post" class="auth-form">
        {% csrf_token %}

        {{ form.non_field_errors }}
        {{ form.email.errors }}
        {{ form.password.errors }}
        {{ form.password_confirm.errors }}

        <div class="form-field">
          <div class="text-start">
          {{ form.email.label_tag }}
          {{ form.email }}
          </div>
        </div>

        <div class="form-field">
          <div class="text-start">
            {{ form.password.label_tag }}
          </div>

          <div class="input-wrapper">
            {{ form.password }}

            <button type="button" class="toggle-password">
              <img src="{% static 'images/visibility.svg' %}" alt="Toggle" class="eye-icon">
            </button>
          </div>
          <ul class="text-start" style="font-size: 0.75rem; color: var(--text-dark); margin: 0; opacity: 0.7;">
            <li>Minimum 8 characters</li>
            <li>At least one uppercase letter (A–Z)</li>
            <li>At least one digit (0–9)</li>
            <li>At least one special character (!@#$%^&*...)</li>
          </ul>
        </div>

        <div class="form-field">
          <div class="text-start">
            {{ form.password_confirm.label_tag }}
            {{ form.password_confirm }}
          </div>
        </div>

        <div class="form-create-btn d-flex justify-content-center mt-5">
          <button type="submit" class="btn secondary">
            Create account
          </button>
        </div>
        </form>
      </section>

      <!-- Supporting image -->
      <figure class="form-page-image">
        <img src="{% static 'images/create_form_image.webp' %}" alt="Happy couple holding hands with their dog" fetchpriority="high">
      </figure>
    </div>
  </article>
</div>
{% endblock %}
